* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
    padding: 20px;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    border: #333 solid 2px;
    padding: 10px;
    border-radius: 30px;
    background-color: lightgreen;
    font-size: 32px;
}
#priorityFilter{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 30px;
    background-color: #f7f7f7;
}
#clearFilters{
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    border-radius: 30px;
    size:10px;
}
#upcomingTaskList li:hover{
    background-color: #f3f583;
}
#completedTaskList li:hover{
    background-color: #5ecc6d;
}
#overdueTaskList li:hover{
    background-color: #e4a086;
}
    
.filters {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
h2{
    padding: 10px;
}
.filters input, .filters select {
    padding: 8px;
    margin-right: 10px;
}

button {
    padding: 8px;
    width: 100px;
    margin-bottom: 10px;
    background-color: #4CAF50;
    border-radius: 30px;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
/* 
.task-dashboard {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
} */

.task-section {
    text-align: center;
    margin-top: 30px;
    width: 100%;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.task-section h3 {
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 20px;
}

.task-section ul {
    list-style-type: none;
}

.task-section li {
    padding: 10px;
    border: 1px solid #7edd67;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.task-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.task-form input, .task-form textarea, .task-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.task-form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.task-form button:hover {
    background-color: #45a049;
}
#searchInput{
    width: 100%;
    padding: 10px;
    border-radius: 30px;
    margin-bottom: 10px;
}
